/* FOOTER */
* {
    margin: 0;
    padding: 0;
}

#tdk-logo {
    width: 8vw;
    height: auto;
}

.footer-menu-col-list, .footer-contact-links {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #888888;
    color: white;
    padding: 4% 4% 2% 6%;
    font-size: 1.7vw;

    position: relative;
    z-index: 50;
}

.footer-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12%;
}

.footer-menu {
    display: flex;
    justify-items: flex-start;
    gap: 5%;
}

.footer-menu-col {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.footer-menu-col h4, .footer-menu-col ul {
    margin: 0;
    padding: 0;
}

.footer-menu-col h4 {
    font-size: 2vw;
    margin-bottom: 2rem;
}

.footer-menu-col ul {
    font-size: 1.3vw;
    font-weight: 400;
}

.footer-menu-col ul li {
    margin-bottom: 10%;
}

.footer-menu-col .footer-contact-links li {
    margin-bottom: 3%;
    text-wrap: nowrap;
}

.icons {
    margin-top: 16%;
}

.icons i {
    margin-right: 8%;
}

.footer-privacy-terms-copyright {
    margin-top: 4%;
}

.footer-privacy-copyright {
    line-height: 1.5;
    font-size: 1.3vw;
}

.mail-link {
    text-decoration: underline;
}